services:
  fetcher:
    build:
      context: .
      dockerfile: fetcher/Dockerfile
    env_file:
      - .env
    environment:
      - ENVIRONMENT=docker
    healthcheck:
      test: ["CMD", "/bin/grpc_health_probe", "-addr=localhost:50051"]
      interval: 10s
      timeout: 10s
      retries: 5
    depends_on:
      redis:
        condition: service_healthy
      postgresql:
        condition: service_healthy

  api:
    build:
      context: .
      dockerfile: api/Dockerfile
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      - ENVIRONMENT=docker
    depends_on:
      redis:
        condition: service_healthy
      postgresql:
        condition: service_healthy
      fetcher:
        condition: service_healthy

  scheduler:
    build:
      context: .
      dockerfile: scheduler/Dockerfile
    env_file:
      - .env
    environment:
      - ENVIRONMENT=docker
    depends_on:
      redis:
        condition: service_healthy
      postgresql:
        condition: service_healthy

  redis:
    image: redis:latest
    restart: always
    ports:
      - "${REDIS_PORT}:${REDIS_PORT}"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5
    command: ["redis-server", "--appendonly", "yes"]

  postgresql:
    image: postgres:latest
    restart: always
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DATABASE}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    healthcheck:
      test:
        ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DATABASE}"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgres/data

volumes:
  postgres_data:
